* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 252, 255);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    display: flex;
    background-color: blueviolet;
}

.dartboard {
    width: 100px;
}