/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* BASE STYLES */

body {
    background-color: rgb(224, 224, 224);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    padding-top: 125px;
}

/* h1 {
    font-size: 1.0rem;
} */

/* ENTIRE NAV BAR */

.header {
    position: fixed;
    width: 100%;
    top: 0;
}

.top-bar {
    background-color: rgb(32, 32, 32);
    display: flex;
    height: 25px;
    justify-content: center;
}

.top-bar-content {
    color: rgb(160, 160, 160);
    font-size: 0.7rem;
    align-content: center;
    width: 1150px;
}

.social-media {
    align-content: center;
    width: 250px;
    text-align: right;
    padding-right: 10px;
}

.icon {
    /* The contact info icons (top left) */
    color: rgb(160, 160, 160);
    padding-right: 1px;
    padding-left: 12px;
}

.icon-two {
    /* The social media icons (top right) */
    color: rgba(255, 215, 0, 0.8);
    padding-left: 5px;
}

.bottom-bar {
    background-color: rgb(0, 0, 0);
    height: 100px;
    justify-content: center;
    display: flex;
}

.bottom-bar-content {
    display: flex;
    align-items: center;
    width: 1400px;
    overflow: hidden;
    justify-content: space-between;
    padding-left: 10px;
}

.navclub {
    color: rgb(245, 245, 245);
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.nav {
    transition: all 0s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 0px;
}

.nav-item {
}


.nav-link {
    color: gold;
    transition: all 0.3s;
    padding: 50px 40px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: gold;
}

.hamburger {
    display: none;
}

.bar {
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* WEB PAGE */

/* HOME */

.homecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.homeinner {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeouter {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-img {
    width: 40%;
    height: auto;
}

.homecaption {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 4rem;
    border-bottom: solid 4px rgb(0, 0, 0);
    border-width: 50%;
}

/* ABOUT US */

.about {
    display: flex;
    flex-wrap: wrap;
}

.aboutleft {
    width: 50%;
    float: left;
    height: 100%;
    align-content: center;
    padding-left: 60px;
}

.aboutright {
    width: 50%;
    float: right;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.aboutright img {
    border: solid 2px white;
    width: 25%;
    height: 25%;
}

.goldtitles {
    font-size: 40px;
    border-bottom: solid 2px white;
    border-bottom-width: 50%;
    padding-bottom: 20px;
    color: gold;
}

.whiteinfotext {
    font-size: 16px;
    font-weight: 400;
}

.blacktitles {
    font-size: 40px;
    border-bottom: solid 2px white;
    border-bottom-width: 50%;
    color: rgb(24, 24, 24);
    border-bottom: solid 2px black;
    padding-bottom: 20px;
}

.blackinfotext {
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
}

.blackinfotextsmall {
    font-size: 16px;
    font-weight: 400;
}

/* THE TEAM */

.teamcontainer {
    font-size: 40px;
    height: 20%;
    padding-left: 60px;
    align-content: center;
    width: 50%;
}

.team {
    display: flex;
    justify-content: space-around;
    height: 80%;
}

.staffone {
    width: 25%;
    height: 90%;
    align-content: center;
    text-align: center;
}

.staffone img {
    border: solid 2px gold;
    border-radius: 100%;
}

.stafftwo {
    width: 25%;
    height: 90%;
    align-content: center;
    text-align: center;
}

.stafftwo img {
    border: solid 2px gold;
    border-radius: 100%;
}

.staffthree {
    width: 25%;
    height: 90%;
    align-content: center;
    text-align: center;
}

.staffthree img {
    border: solid 2px gold;
    border-radius: 100%;
}

/* GALLERY */

.gallerycontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.gallerytitle {
    font-size: 40px;
    height: 20%;
    padding-left: 60px;
    width: 50%;
    align-self: flex-start;
    align-content: center;
}

div.scroll-container {
    background-color: #000000;
    overflow: auto;
    width: 80%;
    white-space: nowrap;
    height: 60%;
    align-self: center;
}

div.scroll-container img {
    border: solid 4px white;
    margin-right: 30px;
}

/* SECTIONS */

#home {
    height: 600px;
    scroll-margin-top: 125px;
}

#about {
    background-color: rgb(20, 20, 20);
    color: white;
    height: 800px;
    scroll-margin-top: 125px;
}

#theteam {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 800px;
    scroll-margin-top: 125px;
}

#gallery {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 800px;
    scroll-margin-top: 125px;
}

#events {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 800px;
    scroll-margin-top: 125px;
}

#contact {
    background-color: rgba(255, 230, 0, 0.3);
    height: 1000px;
    scroll-margin-top: 125px;
}

#sponsors {
    background-color: white;
    height: 400px;
    scroll-margin-top: 125px;
}


html {
    scroll-behavior: smooth;
}

/* FOR JS */

.nav--open {
    transform: translateX(0%) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA FOR SCREENS UNDER 600px*/

/* NAV BAR SECTIONS */

@media only screen and (max-width: 600px) {

    .top-bar-content {
        font-size: 0.5rem;
    }

    .icon {
        padding-left: 5px;
    }

    .navclub {
        display: block;
        font-size: 0.6em;
    }

    .nav {
        position: fixed;
        top: 85px;
        background-color: black;
        width: 100%;
        left: 0;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        border-bottom: solid 2px white;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .nav-link {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 10px 50px;
        text-decoration: none;
    }

    .hamburger {
        display: block;
        align-content: center;
        padding-right: 10px;
    }

    /* HOME SECTION */

.homecontainer {

flex-direction: column;
}

.homeinner {
    padding-top: 40px;
}

.homeouter {    
}

.homecaption {
font-size: 2rem;
font-weight: 600;
border: none;
}

#home {
height: 300px;
scroll-margin-top: 85px;
}

/* ABOUT SECTION */



}

/* MEDIA FOR SCREENS BETWEEN 601px and 992px*/